<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  {% include "shared_links.html" %}
</head>

<body>
  <div class="container">
    <div class = "jumbotron">
      <h1>Add Budget</h1>
      <form method="POST">{% csrf_token %}
        <table>
            {{ ADD_BUDGETFORM.as_table }}
            <tr><td>
              <input type="submit" class="btn btn-primary" value = "Add Budget"/>
            </td></tr>
        </table>
      </form>
    </div>
  </div>
</body>
