<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  {% include "shared_links.html" %}
</head>

<body>
  <div class="container">
    <div class = "jumbotron">
      <h1>Edit Journal</h1>
      <form method="POST">{% csrf_token %}
        <table>
            {{ EDIT_JOURNALFORM.as_table }}
            <tr><td>
              <input type="submit" class="btn btn-primary" value = "Edit Journal"/>
              <button onclick="window.location.href='/journal'" type="button" class="btn btn-outline-success my-2 my-sm-0">Cancel</button>
            </tr>
        </table>
      </form>
    </div>
  </div>
</body>
