<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  {% include "shared_links.html" %}
  {% include "delete.html" %}
  {% load static %}
  <script src="{% static 'JS/tasks.js' %}"></script>
  <link href="{%static 'CSS/core.css'%}" rel="stylesheet">
</head>

<body>
  <h2> Tasks </h2>

</table>
  <div class = "jumbotron">
  <table class="table table-bordered">
    <thead>
      <form action="/tasks/" method="POST">{% csrf_token %}
    {{ SHOW_HIDE.as_p }}
  </form>
    </div>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Catagory</th>
        <th scope="col">Completed</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

        {% for row in task_objects %}
          <tr>
                <td> {{row.description}} </td>
                <td> {{row.get_catagory_display}} </td>
                <td> <a href="{% url 'toggle' row.id %}">{{row.get_completed_display}}</a> </td>
                <td><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'edit_tasks' row.id %}">Edit</button></a>
                  <a class="btn btn-danger" href="#" onclick="confirmDeleteModal({{row.id}})">Delete</a>


        </tr>
        {% endfor %}
    </tbody>
  </table>
  <button onclick="window.location.href='/add_tasks'" type="button" class="btn btn-info">Add Task</button>
</div>
<p> {{tt.catagory}} </p>
</body>
